//base styling

* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1 rem = 10px, 10px/16p = 62.5%
    min-height: 100%;
}

body {
    font-family: $font-main;
    font-size: 1.5rem;
    color: $text-main;
    background: url(/img/bg-04.svg);
    background-color: $color-img-bkg;
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 100%;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;

    &--main {
        padding-top: 3rem;
    }
}