.form {
    font-size: 2rem;
    @media (max-width: 480px) {
        font-size: 1.5rem;
    }

    &__input-field {

        &--weight {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-gap: .7rem;
        align-items: center;
        }

        &--date {
            display: grid;
            grid-row-gap: .7rem;
            }

        &--sign-in-up {
            margin-top: 2rem;
        }
    }

    &__input-label {
        grid-column: 1 / 3;
    }

    &__input {
        border: 1px solid $text-main;
        border-radius: 5px;
        font-size: 2rem;
        font-family: $font-main;
        padding: .25em;
        height: 2.1em;

        &--number {
            width: 3.5em;
        }

        &--date {
            width: 9em;
        }
    }
}