@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,700&amp;subset=latin-ext");
* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  min-height: 100%;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  color: black;
  background: url(/img/bg-04.svg);
  background-color: white;
  background-position: bottom;
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 100%;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.container--main {
  padding-top: 3rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 .75em;
}

.nav {
  background-color: #531e64;
  color: white;
  padding: 1em 0 1em;
}

.nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__logo, .nav__link {
  text-decoration: none;
  color: white;
}

.nav__logo {
  font-size: 3rem;
  font-weight: 700;
}

.nav__link {
  font-size: 2rem;
}

.nav__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nav__item {
  margin-left: 3rem;
}

.dashboard__container {
  display: -ms-grid;
  display: grid;
  grid-gap: 5rem;
}

.form__main {
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.form__title {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
}

.form__input-field {
  display: -ms-grid;
  display: grid;
}

.form__input-field:last-of-type {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.single {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  justify-items: center;
}

.latest {
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
}

.latest__title {
  -ms-grid-column-align: center;
      justify-self: center;
}

.history__container {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
}

.history__title {
  -ms-grid-column-align: center;
      justify-self: center;
}

.form__input-field {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  grid-gap: .7rem;
}

.form__input-label {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.form__input--number {
  width: 7rem;
}

.form__input--date {
  width: 14rem;
}
/*# sourceMappingURL=index.css.map */