.latest {
    display: grid;
    grid-gap: 2rem;

    &__title {
        justify-self: center;
        font-size: 2rem;
        @media (max-width: 480px) {
            font-size: 1.5rem;
        }
    }
}