.nav {
    background: linear-gradient(to right, lighten($color-dark, 20%), $color-dark);
    color: $text-inverse;
    // position: absolute;
    // top: 0;
    // left: 0;
    // right: 0;
    padding: 1em 0 1em;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo,
    &__link {
        text-decoration: none;
        color: $text-inverse;
    }

    &__logo {
        font-size: 3rem;
        font-weight: 700;
        @media (max-width: 480px) {
            font-size: 2rem;
        }
    }

    &__link {
        font-size: 2rem;
        @media (max-width: 480px) {
            font-size: 1.8rem;
        }

        &--initials {
            background: lighten($color-dark, 15%);
            border: .75em solid lighten($color-dark, 15%);
            border-radius: 50%;
        }
    }

    &__main {
        display: flex;
        justify-content: flex-end;
    }

    &__list {
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__item {
        margin-left: 3rem;
        @media (max-width: 480px) {
            margin-left: 1.5rem;
        }
    }
}