.details {

    &__box {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 2rem;
    }

    &__title {
       justify-self: center;
    }

    &__data {
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: 1fr 2fr 1fr;
        justify-items: center;
        align-items: center;
        @media (max-width: 480px) {
            grid-template-columns: 1fr 1fr;
        }
    }
    
    &__name {
        font-weight: 700;
        font-size: 3rem;
        color: $color-secondary;

        &--one {
            grid-column: 1 / 2;
        }

        &--two {
            grid-column: 3 / 4;
            @media (max-width: 480px) {
                grid-column: 2;
            }
        }
    }

    &__record {
        font-size: 2.5rem;
    }

    &__date {
        font-size: 2rem;
        align-self: center;
        text-align: center;
        @media (max-width: 480px) {
            grid-column: 1 / 3;
            grid-row: 1;
        }
    }

    &__misc {
        text-align: right;
        color: $text-faded;
    }

    &__actions {
        text-align: center;
    }
}